.productCatalog {
  padding: 0 20px 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image: url(../../assets/backgroundCatalogue.svg);
}

.titleCatalogue {
  width: 60%;
  font-family: "noto sans";
  font-size: 30px;
  color: white;
  background-color: #603e20;
  padding: 1rem;
  border-radius: 10px;
}

.descriptionCatalogue {
  width: 60%;
  font-family: "noto sans";
  font-size: 20px;
  background-color: #b69b8462;
  color: #603e20;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.category {
  font-family: "noto sans";
  font-size: 25px;
  background-color: #b69b84;
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: auto;
  font-family: "noto sans";
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  background-image: url(../../assets/backgroundProduct.svg);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.product p {
  margin: 0;
}

.title {
  font-size: 20px;
}

.productImage {
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  margin-top: 10px;
  object-fit: cover;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product.disabled::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 1;
}

.stockWarning {
  position: absolute;
  background-color: #9b0f0b;
  width: 80%;
  border-radius: 5px;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.priceContainer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceLabel {
  background-color: #9b0f0b;
  color: #fff;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.priceValue {
  background-color: #fff;
  color: #603e20;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 3rem;
  width: 3rem;
  background-color: #ffffff;
  color: #603e20;
  border: 2px solid #603e20;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scrollToTopButton:hover {
  background-color: #9ec5ca;
  color: #ffffff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
