.searchBarContainer {
    position: relative;
  }
  
  .searchInput {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    font-family: "noto sans";
    font-size: 16px;
  }
  
  .searchInput:focus {
    outline: none;
    border: 2px solid #1970b8;
  }
  .searchInputContainer {
    position: relative;
  }
  
  .searchInput {
    padding-right: 30px;
  }
  
  .clearButton {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }