.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
  }
  
  .pageNumber {
    margin: 0 10px;
    font-family: "questrial";
    font-size: 20px;
  }
  
  .iconButton {
    padding: 0.2rem 0.2rem;
    font-size: x-large;
  }
  