.title {
  background-color: #9ec5ca;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "questrial";
}

.filters {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.tableContainer {
  margin-top: 20px;
  padding-inline: 0.5rem;
}

.table {
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  font-family: "noto sans";
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.table th {
  background-color: #b69b84;
  color: white;
}

.table tr:hover {
  background-color: #9ec5ca67;
}

.titleCodeTable {
  min-width: 150px;
}

.titleTable {
  min-width: 200px;
}

.buttonEdit,
.buttonDelete {
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.buttonEdit {
  color: #000000;
}

.buttonDelete {
  color: #d60303;
}

.buttonEdit:hover,
.buttonDelete:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.buttonsFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.buttonAdd,
.buttonModify {
  background-color: #b69b84;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "questrial";
  font-size: 24px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.buttonAdd:hover,
.buttonModify:hover {
  background-color: #603e20;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.paginationTotalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autocompleteCameraIcon {
  display: flex;
}

.cameraIconScann {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.totalsData {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline: 2rem;
  background-color: #9ec5ca;
}

.totalCat {
  font-family: "questrial";
  font-size: 18px;
  color: #ffffff;
}

@media only screen and (max-width: 1100px) {
  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .table {
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    font-family: "noto sans";
    overflow-x: scroll;
  }

  .tableWrapper {
    overflow-x: auto;
  }

  .buttonsFooter {
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .buttonAdd,
  .buttonModify {
    background-color: #b69b84;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "questrial";
    font-size: 24px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}

@media only screen and (max-width: 680px) {
  .tableContainer {
    margin-top: 20px;
    padding-inline: 0.5rem;
  }

  .title {
    background-color: #9ec5ca;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "questrial";
    font-size: 19px;
  }

  .autocompleteCameraIcon {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .autocomplete {
    width: 100%;
  }

  .cameraIconScann {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    color: #603e20;
    cursor: pointer;
  }

  .tableWrapper {
    overflow-x: auto;
  }

  .table {
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    font-family: "noto sans";
    overflow-x: scroll;
  }

  .totalsData {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 0;
    margin-top: 0.5rem;
    background-color: #9ec5ca;
  }

  .totalCat {
    font-family: "questrial";
    font-size: 15px;
    color: #ffffff;
    margin: 10px auto;
  }

  .buttonsFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 0.5rem;
  }

  .buttonAdd,
  .buttonModify {
    background-color: #b69b84;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "questrial";
    font-size: 18px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}
