.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
}

.titleForm {
  font-family: "questrial";
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: #603e20;
}

.formField {
  width: 30rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formInputs {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.form {
  width: 35rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonAdd {
  height: 3rem;
  width: 30rem;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-family: "questrial";
  font-size: 16px;
  color: white;
  background-color: #b69b84;
}

.buttonAdd:hover {
  background-color: #603e20;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.titleForm {
  font-family: "questrial";
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: #603e20;
}

.formField {
  width: 30rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  border: none;
}

.form {
  width: 35rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonAdd {
  height: 3rem;
  width: 30rem;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-family: "questrial";
  font-size: 16px;
  color: white;
  background-color: #b69b84;
}

.buttonAdd:hover {
  background-color: #603e20;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media only screen and (max-width: 600px) {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .titleForm {
    font-family: "questrial";
    font-size: 24px;
    display: flex;
    padding-inline: 1rem;
    text-align: center;
    justify-content: center;
    color: #603e20;
  }

  .formInputs {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .formField {
    width: 100%;
  }

  .inputsSelect {
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    gap: 0.5rem;
  }

  .inputsSelect {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .formAutocomplete {
    width: 100%;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0;
  }

  .customImageButton {
    width: 50%;
    height: 1.5rem;
    font-size: 14px;
    padding: 0.5rem;
  }

  .imageContainer {
    margin-top: 5px;
  }

  .removeImageButton {
    padding: 3px;
  }

  .buttonAdd {
    height: 3rem;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}
